.emptyCartMessage {
	font-size: 2rem;
	text-align: center;
	margin-top: 250px;
}


.bookCartContainer {
	text-align: center;
	padding: 2rem;
	margin-top: 30px;
}

.cartHeading {
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}

.cartItemsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}



.bookItem {
	background-color: #f9f9f9;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	width: 700px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.col {
	flex: 1;
	padding: 0.5rem;
}

.productCover {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 150px;
}

.coverImage {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}


.inputQuantity {
	width: 100%;
	max-width: 100px;
	text-align: center;
	border: 1px solid #17a2b8;
	border-radius: 4px;
}

.removeButton {
	width: 100%;
	border: 1px solid #dc3545;
	background-color: transparent;
	color: #dc3545;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.removeButton:hover {
	background-color: #dc3545;
	color: white;
}

.link {
	text-decoration: none;
	color: #007bff;
}

.link:hover {
	text-decoration: underline;
}

@media (max-width: 768px) {

	.bookItem {
		width: 300px;
	}

	.row {
		flex-direction: column;
		align-items: center;
	}

	.productCover {
		margin-bottom: 1rem;
	}

	.col {
		width: 100%;
		padding: 0.5rem 0;
	}

	.removeButton,
	.inputQuantity {
		max-width: 200px;
		margin: 0.5rem 0;
	}
}

/* cart checkout */

.container {
	padding: 2rem;
}

.checkoutArea {
	width: 75%;
	margin: 0 auto;
	padding: 2rem;
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.heading {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 2rem;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table td {
	padding: 1rem;
	border-bottom: 1px solid #ddd;
}

.totalRow {
	font-size: 1.5rem;
	color: #007bff;
}

.backToShoppingButton {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	margin-top: 1rem;
	text-decoration: none;
	border: 1px solid #007bff;
	color: #007bff;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.backToShoppingButton:hover {
	background-color: #007bff;
	color: white;
}

.checkoutButton {
	padding: 0.75rem 1.5rem;
	margin-top: 1rem;
	border: 1px solid #17a2b8;
	background-color: transparent;
	color: #17a2b8;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.checkoutButton:hover {
	background-color: #17a2b8;
	color: white;
}

@media (max-width: 500px) {
	.container {
		padding: 0.5rem;
	}

	.checkoutArea {
		width: 95%;
		padding: 0.5rem;
	}

	.heading {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	.table td {
		padding: 0.5rem;
	}

	.totalRow {
		font-size: 1rem;
	}

	.backToShoppingButton,
	.checkoutButton {
		padding: 0.5rem;
		margin-top: 0.5rem;
	}
}